.header {
  background-color: #a1d8e2;
  height: 110px;
  color: #fff;
  margin: 0 auto;
  padding: 1px;
}
.header-logo {
  float: left;
  font-size: 36px;
  padding: 0.8em;
  font-family: "解ミン 宙 R", "解ミン 月 R", "シネマレター", "明石", "リュウミン M-KL";
}
.header-list li {
  float: left;
  padding: 2em;
  list-style: none;
}

body {
  font-size: 15px;
  font-family: "秀英角ゴシック銀 M", sans-serif;
  padding: 0;
  margin: 0;
}
.main {
  padding: 16px 25px;
}

h1 {
  clear: both;
  margin-top: 0;
}

h2 {
  font-size: 23px;
  padding: 1px;
  margin: 5px;
}
.page-contents a {
  text-decoration: none;
  color: black;
}
.page-contents {
  padding: 1em 1.6em;
  font-size: 1em;
  border: solid 3px #a1d8e2;
  display: table;
  margin: 1em auto;
}
.page-contents li {
  line-height: 1.5;
  padding: 0.5em;
}
ol {
  padding-inline-start: 30px;
}

h3 {
  font-size: 22px;
  display: block;
  color: #fff;
  background-color:#a1d8e2;
  margin: 40px 0px 20px;
  padding: 20px 10px;
}

.main-figure-block {
  width: auto;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

table {
  border-spacing: 0;
  border: 0.1px solid gray;
  min-width: none;
  box-sizing: border-box;
  table-layout: auto;
  margin: 0 auto;
}
table th, table td {
  border: 0.1px solid gray;
  border-collapse: collapse;
  line-height: 1.5;
}
table th {
  font-weight: bold;
}
.info-doc th, .doc-perk-recommend th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #e1ebec;
  color: black;
}
.info-doc td, .doc-perk-recommend td {
  padding: 10px;
  vertical-align: top;
}
.info-doc td:nth-child(odd), .doc-perk-recommend td:nth-child(odd){
  background-color: #e1ebec;
  color: black;
  font-weight: bold;
}
em {
  font-weight: 600;
  font-style: normal;
}

.point-checkmark {
  border: 2.5px solid #a1d8e2;
  padding: 1px 20px 1px 0;
}
.point-checkmark li {
  list-style: none;
  line-height: 2;
  position: relative;
  font-weight: bold;
}
.point-checkmark li::after {
  display: block;
  content: '';
  position: absolute;
  top: .5em;
  left: -1em;
  width: 8px;
  height: 3px;
  border-left: 2px solid #f08080;
  border-bottom: 2px solid #f08080;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

h4 {
  font-size: 20px;
  border-left: 7px solid #a1d8e2;
  border-right: 2px solid #a1d8e2;
  border-top: 2px solid #a1d8e2;
  border-bottom: 2px solid #a1d8e2;
  padding: 12px 10px;
}
h5 {
  font-size: 17px;
  border-left: 7px solid #a1d8e2;
  border-bottom: 2px solid #a1d8e2;
  padding: 5px 0 5px 12px;
}

.red-bold {
  font-weight: bold;
  color: #ff0000;
}
